{% extends "book_club/base.html" %}
{% block content %}
    <div class="row justify-content-start">
        <div class="col-md-12 hidden-hover-parent d-flex justify-content-start align-items-center">
            <h2 class="p-2 m-0">{{ book_club.name }}</h2>
            {% if reader_role %}
                {% if reader_role == 'AD' %}
                    <a
                        href="{% url 'book_club:book_club_admin' book_club.name %}"
                        class="btn btn-sm btn-secondary rounded shadow-sm hidden-hover-child"
                    >
                        <span class="material-icons text-black-50 fs-5">edit</span>
                    </a>
                {% endif %}
            {% else %}
                <a
                    href="{% url 'book_club:book_club_membership_request' book_club.name %}"
                    class="btn btn-sm btn-secondary rounded shadow-sm ms-2"
                >
                    <span>Request Membership</span>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row row-cols-3 px-2 justify-content-center overflow-hidden flex-grow-1">
        <div class="col p-2 h-100">
            <div class="p-2 shadow rounded h-100 d-flex flex-column">
                <div class="flex-grow-0 flex-shrink-1">
                    <h4>Readers</h4>
                </div>
                <div class="flex-grow-1 overflow-y-auto">
                    <ul>
                        {% for reader in book_club.readers.all %}
                            <li>{{ reader.username }} ({{ reader.given_name }} {{ reader.surname }})</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col p-2 h-100">
            <div class="p-2 shadow rounded h-100 d-flex flex-column">
                <div class="flex-grow-0 flex-shrink-1">
                    <h4>Books</h4>
                </div>
                <div class="flex-grow-1 overflow-y-auto"></div>
            </div>
        </div>
        <div class="col p-2 h-100">
            <div class="p-2 shadow rounded h-100 d-flex flex-column">
                <div class="flex-grow-0 flex-shrink-1">
                    <h4>Discussions</h4>
                </div>
                <div class="flex-grow-1 overflow-y-auto"></div>
            </div>
        </div>
    </div>
{% endblock %}