{% extends "book_club/base.html" %}

{% block content %}
    <div class="row justify-content-start ps-2">
        <div class="col-md-12 hidden-hover-parent d-flex justify-content-start align-items-center">
            <h2 class="p-2 m-0">Book Clubs</h2>
            <a
                class="btn btn-sm btn-secondary rounded shadow-sm hidden-hover-child"
                href="{% url 'book_club:create_book_club' %}"
            >
                <span class="material-icons text-black-50 fs-5">add</span>
            </a>
        </div>
    </div>
    {% if in_clubs %}
        <div class="flex-grow-1 overflow-y-auto">
            <div
                class="row row-cols-xxl-6 row-cols-xl-6 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 justify-content-center align-items-center m-2"
            >
                {% for book_club in book_clubs %}
                    <div class="col my-2">
                        {% include 'book_club/fragments/book_club_card.html' with book_club=book_club %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="position-absolute top-50 start-50 translate-middle text-center">
            <span>You aren't in any clubs!</span>
            <br/>
            <a role="button" class="btn btn-secondary" href="{% url 'book_club:create_book_club' %}">
                Create Book Club
            </a>
        </div>
    {% endif %}
{% endblock %}