{% extends "book_club/base.html" %}
{% block content %}
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <h2>Create Book Club</h2>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        name="name"
                        class="form-control"
                        id="name"
                        aria-describedby="name-help"
                        required
                    />
                    <small id="name-help" class="form-text text-muted">
                        Your book club name must be unique. We'll let you know if someone has taken it already.
                    </small>
                </div>
            <button type="submit" class="btn btn-primary mt-2">Create Book Club</button>
            </form>
        </div>
    </div>
{% endblock %}