{% extends "book_club/base.html" %}
{% load static %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-12">
            <h2>Home</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 p-2">
            <div class="p-2 shadow rounded">
                <h4>My Clubs</h4>
                {% if in_clubs %}

                    {% for book_club in book_clubs.all %}
                        <div
                            class="card m-4 shadow-sm clickable"
                            onclick="location.href='{% url 'book_club:book_club_home' book_club.name%}'"
                        >
                            {# TODO - Figure out a better way to check and default with no image #}
                            {% if book_club.image %}
                                <img
                                    class="card-img-top"
                                    src="{{ book_club.image.url }}"
                                    alt="book-club-image"
                                />
                            {% else %}
                                <img
                                    class="card-img-top"
                                    src="{% static 'book_club/images/books.jpg' %}"
                                    alt="book-club-image"
                                />
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ book_club.name }}</h5>
                                <p class="card-text">{{ book_club.description|default:'A book club for reading books!' }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="justify-content-center text-center">
                        <span>You aren't in any clubs!</span>
                        <br/>
                        <a role="button" class="btn btn-sm btn-secondary" href="{% url 'book_club:create_book_club' %}">
                            Create Book Club
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="p-2 shadow rounded">
                <h4>My Books</h4>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="p-2 shadow rounded">
                <h4>Trending</h4>
            </div>
        </div>
    </div>
{% endblock %}