<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="row">
            <div class="col-4">
                <h5>Role</h5>
            </div>
            <div class="col-7">
                <h5>Name</h5>
            </div>
            <div class="col-1">
                <h5>Remove</h5>
            </div>
        </div>
    </li>
    {% for reader_role in book_club.bookclubreaders_set.all %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-4">
                    <form
                        method="POST"
                        action="{% url 'book_club:book_club_admin_change_role' book_club.name|slugify %}"
                    >
                        <input type="hidden" disabled value="{{ book_club.id }}" />
                        <input type="hidden" disabled value="{{ reader_role.reader.id }}" />
                        <select
                            class="form-select"
                            aria-label="Book Club Reader Role"
                            {% if reader_role.is_creator %}disabled{% endif %}
                        >
                            <option value="AD">Admin</option>
                            <option value="PT">Participant</option>
                            <option value="RD">Reader</option>
                            {% if book_club.publicity != 'private' %}
                                <option value="OB">Observer</option>
                            {% endif %}
                        </select>
                    </form>
                </div>
                <div class="col-7">
                    <span><b>{{ reader_role.reader.given_name }} {{ reader_role.reader.surname }}</b></span>
                </div>
                <div class="col-1">
                    {# TODO - change this to a form and submit button with POST type #}
                    <button
                        onclick="location.href='{% url 'book_club:book_club_admin_remove_reader' book_club.name|slugify %}'"
                        class="btn btn-danger"
                        {% if reader_role.is_creator %}disabled{% endif %}
                    >
                        Remove
                    </button>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>