{% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name</label>
        <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            aria-describedby="name-help"
            required
        />
        <small id="name-help" class="form-text text-muted">
            Your book club name's url pattern must be unique. We'll let you know if someone has taken it already.
        </small>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input
            type="file"
            name="image"
            class="form-control"
            id="image"
            alt="book-club-image"
        />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input
            type="text"
            name="description"
            class="form-control"
            id="description"
        />
    </div>
    <div class="form-group">
        <label for="publicity">Publicity</label>
        <br />
        <div class="form-check form-check-inline">
            <input
                class="form-check-input"
                type="radio"
                name="publicity"
                id="public-publicity"
                value="PB"
            />
            <label class="form-check-label" for="public-publicity">Public</label>
        </div>
        <div class="form-check form-check-inline">
            <input
                class="form-check-input"
                type="radio"
                name="publicity"
                id="observable-publicity"
                value="OB"
            />
            <label class="form-check-label" for="observable-publicity">Observable</label>
        </div>
        <div class="form-check form-check-inline">
            <input
                class="form-check-input"
                type="radio"
                name="publicity"
                id="private-publicity"
                value="PR"
                checked
            />
            <label class="form-check-label" for="private-publicity">Private</label>
        </div>
        {# TODO - Dynamically display only the appropriate text here based on the checked publicity above #}
        <br />
        <small class="text-black-50">
                <b>Private</b> - Your club won't appear in searches and won't be joinable without invitation
        </small>
        <br />
        <small class="text-black-50">
                <b>Observable</b> - Your club and its books, ratings, and discussions will be public, but users won't be able to join or participate without invitation
        </small>
        <br />
        <small class="text-black-50">
                <b>Public</b> - Your club will be publicly visible and users can join as readers and post in discussions freely
        </small>
    </div>
    <button type="submit" class="btn btn-secondary mt-2">{{ button_text }}</button>
</form>