@import 'book_club/bootstrap/scss/_functions';
@import 'book_club/bootstrap/scss/_variables';

$primary: $green;
$secondary: $yellow;

$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $primary,
    'secondary': $secondary,
  )
);

@import 'book_club/bootstrap/scss/bootstrap';

body {
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-container {
  padding-top: 2em;
}

.nav-link {
  color: $light
}

.text-muted {
  color: #708090ad !important; // Bootstrap marks this as important themselves...
}

.clickable {
  cursor: pointer;
}

.hidden-hover-child {
  display: none;
}

.hidden-hover-parent:hover .hidden-hover-child {
  display: inline-block;
}