@import 'book_club/bootstrap/scss/_functions';
@import 'book_club/bootstrap/scss/_variables';

$primary: $green;
$secondary: $yellow;

$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $primary,
    'secondary': $secondary,
  )
);

@import 'book_club/bootstrap/scss/bootstrap';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-container {
  position: absolute;
  top: 56px; // Place immediately under the navbar
  height: calc(100% - 56px); // Fill up the entire screen
  width: 100%;
  overflow: hidden; // No page scroll
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: $light;
}

.text-muted {
  color: #708090ad !important; // Bootstrap marks this as important themselves...
}

.clickable {
  cursor: pointer;
}

.hidden-hover-child {
  display: none;
}

.hidden-hover-parent:hover .hidden-hover-child {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}